# .gitignore
**/node_modules/
**/dist/
*.log
.DS_Store

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
/Godeps/
**/bin/

# Binaries for programs and plugins
**/*.exe
**/*.dll
**/*.so
**/*.dylib

# Test binary, build with 'go test -c'
**/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
**/*.out

# Dependency directories
vendor/
node_modules/

# IDE files
.idea/
*.iml
